<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <br>
  <% @feed.image %>
  <%= image_tag @feed.image.url if @feed.image.present? %>

  <br>
  <strong>title:</strong>
  <br>
  <%= @feed.title %>
  <br>
  <strong>content:</strong>
  <br>
  <%= @feed.content %>







</p>

<%= link_to '「へんしゅう」', edit_feed_path(@feed) %> |
<%= link_to '「もどる」', feeds_path %>
